<!-- All Popups -->
<div id="info" class="popup">
	<div id="info-box">
		<div id="info-box-1" class="info-box">
			<h1 lang="tut-tools-title">Tools</h1>
			<div class="info-tools">
				<div>
					<svg viewBox="0 0 24 24">
					    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
					</svg>
				</div>
				<h2 lang="tut-tools-menu">Menü</h2>
				<p lang="tut-tools-menu.text"></p>
			</div>
			<div class="info-tools">
				<div>
					<svg viewBox="0 0 24 24">
					    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
					</svg>
				</div>
				<h2 lang="tut-tools-edit">Bearbeiten</h2>
				<p lang="tut-tools-edit.text"></p>
			</div>
			<div class="info-tools">
				<div>
					<svg viewBox="0 0 24 24">
					    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
					</svg>
				</div>
				<h2 lang="tut-tools-compare">Vergleichen</h2>
				<p lang="tut-tools-compare.text"></p>
			</div>
			<div class="info-tools">
				<div>
					<svg viewBox="0 0 24 24">
					    <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z"/>
					</svg>
				</div>
				<h2 lang="tut-tools-calc">Berechnen</h2>
				<p lang="tut-tools-calc.text"></p>
			</div>
			<div class="info-tools">
				<div id="info-tools-double">
					<div>
						<svg viewBox="0 0 24 24" >
						    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
						</svg>
					</div>
					<div>
						<svg viewBox="0 0 24 24">
						    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
						</svg>
					</div>
				</div>
				<h2 lang="tut-tools-im/export">Import / Export</h2>
				<p lang="tut-tools-im/export.text"></p>
			</div>
			<div class="info-tools">
				<div>
					<svg viewBox="0 0 24 24">
					    <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
					</svg>
				</div>
				<h2 lang="tut-tools-settings">Einstelungen</h2>
				<p lang="tut-tools-settings.text"></p>
			</div>
		</div>
		<div id="info-box-2" class="info-box">
			<h1 lang="tut-compare-title"></h1>
			<div id="info-calc-img" class="ripple ripple-colored">
				<p lang="tut-compare-button"></p>
			</div>
			<div id="info-calc-text" lang="tut-compare-text"></div>
		</div>
		<div id="info-box-3" class="info-box">
			<h1>Über</h1>
		</div>
	</div>
	<div id="info-page">
		<div tut="0" class="info-page-selected" ><div></div></div>
		<div tut="1"><div></div></div>
		<div tut="2"><div></div></div>
	</div>
</div>
<div id="stats" class="popup">
	<div id="stats-info">
		<div id="stats-words-total" class="stats-section">
			<p class="count">0</p><span lang="calc-sentences"></span>
		</div>
		<div id="stats-sentences-total" class="stats-section">
			<p class="count">0</p><span lang="calc-words"></span>
		</div>
		<div class="stats-section">
			<p class="count">0</p><span lang="calc-sentences.same"></span>
		</div>
		<div class="stats-section">
			<p class="count">0</p><span lang="calc-words.same"></span>
		</div>
	</div>
	<div id="stats-percentage">
	<div id="stats-circle-box">
		<div id="stats-circle-ripple" class="ripple ripple-colored"></div>
		<svg viewBox="0 0 350 350">
			<circle cx="50%" cy="50%" r="45%" stroke="gray" fill="transparent" stroke-width="1px"/>
			<circle id="stats-circle" cx="50%" cy="50%" r="45%"></circle>
			<text id="stats-percentage-number" class="count" x="50%" y="50%"></text>
			<text id="stats-percentage-calc" lang="calc-calc" x="50%" y="50%"></text>
			<text id="stats-percentage-indicator" x="62%" y="45%">%</text>
			<circle id="stats-loader" cx="62" cy="172" r="18"></circle>
			<!-- reset visual persentage -->
		</svg>
	</div>
</div>
</div>
<div id="settings" class="popup">
	<h1 lang="settings-title">Einstellungen</h1>
	<div id="settings-selection">
		<div id="settings-color" class="setting-section">
			<label lang="settings-color">Farbschema:</label>
			<ul id="color-select">
				<li color="0" class="color-selected"><span lang="settings-colors-blue">Blau</span><div style="background-color: #1976d2" /></li>
				<li color="1"><span lang="settings-colors-green">Grün</span><div style="background-color: #388E3C" /></li>
				<li color="2"><span lang="settings-colors-red">Rot</span><div style="background-color: #D32F2F" /></li>
				<li color="3"><span lang="settings-colors-yellow">Gelb</span><div style="background-color: #FBC02D" /></li>
				<li color="4"><span lang="settings-colors-orange">Orange</span><div style="background-color: #F57C00" /></li>
			</ul>
		</div>
		<div id="settings-fontSize" class="setting-section">
			<label lang="settings-textsize">Textgröße:</label>
			<div id="settings-fontSize-number">18</div>
			<input id="settings-fontSize-input" value="18" type="range" min="10" max="25" step="1">
		</div>
		<div id="settings-lang" class="setting-section">
			<label lang="settings-language">Sprache:</label>
			<div id="lang-select" class="dropdown">
				<span>Deutsch</span>
				<ul>
					<li value="en">English</li>
					<li value="de">Deutsch</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="about" class="popup">
	<img src="icons/Cheater.png">
	<h1 id="about-title">Cheater<span>v 1.0.6</span></h1>
	<div id="about-by" lang="about-by">Created by</div>
	<div id="about-creator">Nils Twelker</div>
	<div id="about-link">www.nitwel.de</div>
	<div id="tutorial-start" class="ripple">Tutorial</div>
</div>
