* {
	margin: 0px;
	padding: 0px;
	user-select: none;
	font-family: mainFontLight;
	color: black;
	cursor: default;
	outline: 0px solid transparent;
}
html {
	--main-color: #1976d2; /*700*/
	--main-color-light: #63a4ff; /*700 light*/
	--main-color-dark: #004ba0; /*700 dark*/
	--main-color-click: #1E88E5; /*600*/
	--main-color--dark-click: #1565C0; /*800*/
	--background-color: #E1E2E1; /*grey*/
	--front-color: white; /*white*/
	--text-color: white; /*white*/
	--text-size: 18px;
	--text-marked: #90CAF9; /*200*/
	--text-marked-light: #BBDEFB; /*100*/
	--text-marked-dark: #64B5F6; /*300*/
	--icon-color: white; /*white*/
	--icon-color-active:#1976d2; /*700*/
	--icon-color-disabled: rgba(255,255,255,0.5); /*white*/
}

body {
	overflow: hidden;
}

@font-face {
	font-family: 'mainFontLight';
	src: url('./fonts/Comfortaa-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'mainFont';
	src: url('./fonts/Comfortaa-Regular.ttf') format('truetype');
}

/*----------------------------------------------------[Global]----------------------------------------------------*/


/*----------------------------------------------------[Header]----------------------------------------------------*/

header {
	width: 100%;
	height: 20px;
	background-color: var(--main-color-dark);
	-webkit-app-region: drag;
	transition: 0.25s;
	z-index: 100;
}

#window-title {
	height: calc(100% - 4px);
	padding: 2px;
	margin-left: 5px;
	color: white;
	font-size: 15px;
	float: left;
}

.window-tools {
	float: right;
	width: 20px;
	fill: transparent;
	stroke: white;
	stroke-width: 2;
	-webkit-app-region: no-drag;
}

.window-tools:hover {
	background-color: var(--main-color--dark-click);
}

#close-window:hover {
	background-color: rgb(255, 35, 35);
}

/*----------------------------------------------------[Main]----------------------------------------------------*/

main {
	width: 100%;
	height: calc(100% - 20px);
}

/*----------------------------------------------------[Sidebar]----------------------------------------------------*/

#sidebar-container {
	position: relative;
	float: left;
	width: 40px;
	height: 100%;
}

#sidebar-mover {
	left: 0px;
	z-index: 1;
	position: absolute;
	height: 100%;
	background-color: var(--main-color);
	transition: 0.25s ease-in-out;
}

.sidebar-tool {
	position: relative;
	height: 40px;
	flex: auto;
}

.sidebar-tool div {
	padding: 10px;
	text-align: center;
	margin-right: 40px;

	color: var(--text-color);
	text-transform: uppercase;
}

.sidebar-tool svg {
	width: 40px;
	position: absolute;
	top: 0px;
	right: 0px;

	fill: white;
	transition: 0.25s;
}

.sidebar-collapse {
	transform: translate(calc(-100% + 40px), 0%);
}

.sidebar-tool:hover {
	background-color: var(--main-color-click);
}

.sidebar-tool-active svg {
	fill: var(--icon-color-active) !important;
	background-color: white !important;
}

.sidebar-tool-disabled svg {
	opacity: 0.5;
}

/*----------------------------------------------------[Compare Tool]----------------------------------------------------*/

#compare-mode {
	position: absolute;
	text-align: center;
	font-size: 20px;
	width: 270px;
	bottom: 15px;
	right: -290px;
	background-color: white;
	box-shadow: 0px 0px 10px 1px gray;
	transition: 0.20s ease-in-out;
}
#compare-mode-scala {
	margin: 10px;
	width: 200;
}

.compare-show {
	right: 15px !important;
}

.compare-active {
	background-color: var(--main-color);
	color: white;
}

#compare-mode-settings {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#compare-mode-settings div:nth-child(1) {
	float: left;
}

#compare-mode-settings div:nth-child(1)::after {
	content:":";
}

#compare-mode-value {
	float: right;
	margin-right: 5px;
}

#compare-mode-value::after {
	content: " %";
}

#compare-mode-sentence,#compare-mode-word {
	padding: 5px;
	width: calc(50% - 10px);
	float: left;
	transition: 0.15s;
}

/*----------------------------------------------------[Text]----------------------------------------------------*/

#text-content {
	overflow: hidden;
	position: relative;
	background-color: var(--background-color);
	float: right;
	width: calc(100% - 40px);
	height: 100%;
}

#text-content.markSentences div span.sentence-marked{
	color: black;
	transition: 0.25s;
}

#text-content.markWords div span span.word-marked {
	color: black;
	transition: 0.25s;
}

#text-content.markSentences > div > span.marked {
	background-color: var(--text-marked-light);
}

#text-content.markWords > div > span > span.marked {
	background-color: var(--text-marked-light);
}

#text-content.compare textarea {
	display: none;
}

#text-content.compare div {
	display: block;
}

#text-content textarea {
	resize: none;
	border-style: none;
	width: calc(50% - 30px);
	height: calc(100% - 40px);
}

.text-container {
	font-size: var(--text-size);
	float: left;
	margin: 20px;
	padding: 5px;
	width: calc(50% - 40px);
	height: calc(100% - 50px);
	word-wrap: break-word;
	background-color: var(--front-color);
	color: black;

	cursor: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.text-container:nth-child(odd)  {
	margin-right: 10px;
}

.text-container:nth-child(even) {
	margin-left: 10px;
}

.tooltip {
	background-color: var(--main-color);
	color: var(--text-color);
	width: 150px;
	padding: 2px;
	border-radius: 5px;
	text-align: center;
}

.tooltip div {
	color: var(--text-color);
}

/*----------------------------------------------------[Popup]----------------------------------------------------*/

#popup-background {
	top: 20px; left: 0px;
	opacity: 0;
	display: none;
	width: 100%;
	height: calc(100% - 20px);
	position: absolute;
	background-color: rgba(50,50,50,0.7);
	transition: 0.25s;
	transition: 0.25s;
	z-index: 10;
	overflow: hidden;
}

#popup-frame {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: top left;
	filter: blur(0px) !important;
	width: 700px;
	height: 530px;
	background-color: white;
	animation: scalein 0.25s;
}

.popup {
	display: none;
	width: 100%;
	height: 100%;
}

#popup {
	height: inherit;
    width: inherit;

}

#popup-inner-frame {
	position: relative;
	height: 100%;
	width: 100%;
}

@keyframes scalein {

	0% {
		transform: scale(0) translate(-50%, -50%);
	}
	90% {
		transform: scale(1.05) translate(-50%, -50%);
	}
	100% {
		transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes scaleout {
	from {
		transform: scale(1) translate(-50%, -50%);
	}
	to {
		transform: scale(0) translate(-50%, -50%);
	}
}

#popup-close {
	position: absolute;
	top: 5px; right: 5px;
	fill: transparent;
	stroke: var(--icon-color);
	stroke-width: 2;
	border-radius: 50%;
	background-color: var(--main-color);
	transition: 0.25s;
}

#popup-close:hover {
	background-color: var(--main-color-click);
}

/*----------------------------------------------------[Popup - Stats]----------------------------------------------------*/

#stats-info {
	float: left;
	width: 35%;
	height: calc(100% - 20px);
	background-color: var(--main-color);
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.stats-section {
	font-size: 17px;
	color: var(--text-color);
	width: 90%;
	height: calc(25% - 4px);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.stats-section span {
	font-size: 17px;
	color: var(--text-color);
	line-height: 13;
}

.stats-section p {
	height: 100%;
	color: var(--text-color);
	font-size: 40px;
	float: right;
	line-height: 3;
}

#stats-percentage {
	float: right;
	width: 60%;
	height: 100%;
}

#stats-circle-box {
	width: 350px;
	height: 350px;
	margin-left: 35px;
	margin-top: 145px;

	position: relative;
}

#stats-circle-box svg {
	width: 350px;
	height: 350px;
}

#stats-circle-ripple {
	width: 90%;
	height: 90%;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#stats-circle {
	stroke: var(--main-color);
	fill: transparent;
	stroke-width: 6px;
	transition: 2s;
	transform: rotate(-90deg);
	transform-origin: center;
}

#stats-percentage-number {
	display: none;
	text-anchor: middle;
	alignment-baseline: central;
	font-size: 60px;
}

#stats-percentage-calc {
	display: block;
	text-anchor: middle;
	alignment-baseline: central;
	font-size: 30px;
}

#stats-percentage-indicator {
	font-size: 30px;
	display: none;
}

#stats-loader {
	fill: transparent;
	stroke: black;
	stroke-width: 1.5px;
	display: none;

	animation: loader 2s linear infinite;
	transform-origin: center;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		stroke-dasharray: 0 113.09;
	}
	25% {
		transform: rotate(180deg);
		stroke-dasharray: 56.54 113.09;
	}
	50% {
		transform: rotate(540deg);
		stroke-dasharray: 0 113.09;
	}
	75% {
		transform: rotate(720deg);
		stroke-dasharray: 56.54 113.09;
	}
	100%{
		transform: rotate(1080deg);
		stroke-dasharray: 0 113,09;
	}
}


/*----------------------------------------------------[Popup - Settings]----------------------------------------------------*/


#settings h1 {
	text-align: center;
	color: var(--text-color);
	background-color: var(--main-color);
	width: 100%;
	padding: 10px 0px;
	transition: 0.25s;
}

#settings-selection {
	padding: 20px;
	font-size: 20px;
}

.setting-section {
	margin: 3px;
}

.setting-section label::after {
	content: ":";
}

#color-select {
	float: right;
}

#color-select li {
	margin: 0px 4px;
	display: inline;
	float: left;
	opacity: 0.5;
	transition: 0.25s;
}

.color-selected {
	opacity: 1 !important;
}

#color-select li div{
	margin: 0px 2px;
	float: left;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

#settings-fontSize input {
	float: right;
}

#settings-fontSize div {
	float: right;
}

#settings-fontSize-number {
	width: 30px;
	text-align: center;
}

#settings-fontSize-input {
	width: 200px;
}

input[type=range] {
  -webkit-appearance: none;
	height: 23px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: black;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
	margin-top: -9.75px;
	border-radius: 50%;
	background-color: var(--main-color);
  -webkit-appearance: none;
	transition: 0.25s;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  background-color: black;
}
input[type=range]::-moz-range-thumb {
	height: 20px;
  width: 20px;
	margin-top: -9.75px;
	border-radius: 50%;
	background-color: var(--main-color);
  -webkit-appearance: none;
	transition: 0.25s;
}
input[type=range]::-ms-track {
	width: 100%;
  height: 1px;
  background-color: black;
}

input[type=range]::-ms-thumb {
	height: 20px;
  width: 20px;
	margin-top: -9.75px;
	border-radius: 50%;
	background-color: var(--main-color);
  -webkit-appearance: none;
	transition: 0.25s;
}

#lang-select {
	float: right;
}

.dropdown {
	position: relative;
}

.dropdown::after {
	width: 23px;
	height: 23px;
	content: url(./svg/arrow.svg);
	fill: black;
	text-align: center;
	vertical-align: middle;
	transform: rotateX(0deg);
	transition: 0.25s ease-in-out;
	display: inline-block;
}

.dropdown ul {
	position: absolute;
	transform: rotateX(90deg);
	transform-origin: top center;
	max-height: 200px;

	background-color: white;
	box-shadow: 1px 1px 4px 1px gray;

	overflow-y: auto;
	transition: 0.25s ease-in-out;
}

.dropdown li {
	font-size: 17px;
	width: 100%;
	display: inline;
	float: left;
	transition: 0.25s;
	word-wrap: break-word;
	padding: 4px;
	box-sizing: border-box;
}

.dropdown li:hover {
	background-color: var(--main-color-light);
}

.display-dropdown ul {
	transform: rotateX(0deg) !important;
}

.display-dropdown::after {
	transform: rotateX(180deg) !important;
}

/*----------------------------------------------------[Popup - About]----------------------------------------------------*/

#about {
	height: 100%;
	text-align: center;

}

#about img {
	float: left;
	height: 200px;
	width: 200px;
	margin-left: calc(50% - 100px);
	margin-top: calc(35% - 100px);
}

#about h1 {
	text-align: center;
	font-size: 40px;
	margin-left: 23px;
}

#about h1 span {
	font-size: 12px;
	color: rgb(120, 120, 120);
}

#about-by {
	margin-top: 25px;
	font-size: 14px;
	color: rgb(120, 120, 120);
}
#about-by::after {
	content: ":";
}

#about-creator {
	margin: 6px;
	font-size: 26px;
}

#about-link {
	cursor: pointer;
	font-size: 16px;
	color: var(--main-color);
}

/*----------------------------------------------------[Popup - Tutorial]----------------------------------------------------*/

#tutorial-start {
	border-radius: 10px;
	background-color: var(--main-color);
	margin: 35px auto;
	width: 30%;
	height: 30px;
	line-height: 32px;
	font-size: 22px;
	padding: 5px;
	text-align: center;
	color: white;
	box-shadow: 1px 1px 4px 0px rgba(100,100,100, 0.7);
	transition: box-shadow 200ms;
}

#tutorial-start:hover {
	box-shadow: 3px 3px 6px 0px rgba(100,100,100, 0.7);
}

/*----------------------------------------------------[Hover-popup]----------------------------------------------------*/

#hover-tool {
	position: absolute;
	display: none;
	background-color: var(--main-color);
	color: var(--text-color);
	width: 150px;
	padding: 2px;
	border-radius: 5px;
	text-align: center;
	z-index: 100;
	transition: opacity 200ms;
}

#hover-tool::after {
	content: " %";
}

.ripple {
		position: relative;
		overflow: hidden;
}

@keyframes ripple {
	from {
		transform: scale(0.1);
        opacity: 1;
	}
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

.ripple-colored .ripple-animation {
	background-color: var(--main-color);
}

.ripple-animation {
	opacity: 0.5;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	transform: scale(0) translate(-50%, -50%);
	animation: ripple 0.4s linear;
}

/*----------------------------------------------------[Popup - Info]----------------------------------------------------*/

#info {
	overflow: hidden;
}

#info-box {
	width: 300%;
	height: 100%;
	margin-left: 0%;
	transition: 0.4s cubic-bezier(0.8, 0.1, 0.1, 0.8);
}

.info-box {
	width: 33.33%;
	height: 100%;
	float: left;
	background-color: white;
}

.info-box h1 {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.info-tools {
	width: 80%;
	margin: 20px 40px 0px 40px;
	box-sizing: border-box;
}

.info-tools h2 {
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 22px;
	float: left;
}

.info-tools p {
	width: calc(100% - 100px);
	font-size: 14px;
	float: left;
}

.info-tools div {
	float: left;
	padding: 5px;
	margin: 10px 30px 0px 10px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--main-color);
	box-sizing: border-box;
}

.info-tools div svg {
	fill: white;
}

.info-tools:nth-child(even) {
	float: left;
}

.info-tools:nth-child(odd) {
	float: right;
}

#info-tools-double {
	position: relative;
	background-color: var(--main-color-light);
	border-width: 2px;
	width: 40px;
	height: 40px;
}

#info-tools-double div {
	position: absolute;
	margin: 0px;
	width: 25px;
}

#info-tools-double div:nth-child(1) {
	top: -5px;
	left: -5px;
}

#info-tools-double div:nth-child(2) {
	bottom: -5px;
	right: -5px;
}

#info-page {
	position: absolute;
	bottom: 5px;
	margin-left: calc(50% - 21px);
	height: 20px;
}

#info-page div {
	padding: 5px;
	float: left;
	width: 10px;
	height: 10px;
}

#info-page div div {
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	padding: 0px;
	border-radius: 50%;
	background-color: var(--main-color-dark);
	transition: 0.25s;

}

.info-page-selected div {
	background-color: var(--main-color--dark-click) !important;
	transform: scale(1.3);
}

#info-calc-img {
	width: 250px;
	height: 250px;
	float: left;
	margin: auto;
	margin: 0px;
	margin-top: 135px;
	margin-left: 40px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: var(--main-color);
}

#info-calc-img p {
	margin-top: calc(50% - 15px);
	text-align: center;
	font-size: 30px;
}

#info-calc-text {
	float: left;
	width: calc(100% - 320px);
	height: 545px;
	padding:  10px 20px;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#info-calc-text p {
	margin: 20px;
}